.card {
    background-color: red;
    width: 150px;
    height: 180px;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.cards {
    display: grid;
    grid-template-areas: 
    "card card";
    row-gap: 5%;
}

.cards img {
    width: 150px;
    height: 150px;
}

.shadow-card {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    transition: .3s ease-out;
}

.cards div, .title {
    transition: transform .3s ease-out;
    color: black;
    min-width: 150px;
}

.title {
    min-height: 30px;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title.rounded-title {
    border-radius: 15px;
}

img.rounded-card {
    border-radius: 100%;
}

@media screen and (min-width: 400px) {
    .cards {
        grid-template-areas: 
        "card card card";
        row-gap: 15%;
    }
}

@media screen and (min-width: 1366px) {
    
    .cards {
        grid-template-areas: 
        "card card card card";
    }

}
@media screen and (min-width: 768px) {
    .cards .card:hover {
        transform: scale(1.2);
    }

    .shadow-card:hover {
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    }
}

@media screen and (max-width: 768px) {
    .title-cards {
        width: 90%;
    }
}