@import "src/variables";

#search-button {
  all: unset;
  border: 1px solid white;
  padding: 0 5px;
  height: 25px;
  position: relative;
  top: 7px;
  border-radius: 0px 11px 11px 0px;
}

nav {
  top: 0;
}

#search-button div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-button img {
  width: 25px;
  height: 25px;
}

.input-search {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border: none;
  padding-left:10px;
  font-size: 17px;
}

.navbar-toggler collapsed {
  height: 58px;
}

.input-search:focus {
  outline: none;
}

::ng-deep .mat-autocomplete-visible {
  border-radius: 7px;
}

.bg-dark {
  background-color: $nav !important;
}


@media only screen and (max-width: 992px) {
  .mt-1r {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 520px) {
  ::ng-deep .input-div {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 200px;
  }
  .input-search {
    width: 60% !important;
  }
}
