.flex-column {
    display: flex;
    margin-left: 3%;
    flex-direction: column;
}

.lista-canciones {
    margin-top: 10%;
}

h2 {
    color: black;
    margin: 2% 0;
}

@media screen and (min-width: 900px) {
    h1, .playlists {
        margin-bottom: 3%
    }
    
    .lista-canciones {
        margin-top: 3%;
    }
    
}

@media screen and (max-width: 400px) {
    .playlists {
        margin-bottom: 280px;
    }
}