<section *ngIf="!mobile" class="desktop">
    
    <section class="flex">
        <div class="content flex">
            <div class="center">
                <img id="song-image" src="{{song.img}}" alt="cancion-image">
                <div class="flex icons">
      
                    <img class="icon-medium pointer" (click)="playPause()" src="assets/icons/play.svg" alt="play">
      
                    <div class="icon-star icon-medium">
                        <img class="icon-medium" src="assets/icons/star.svg" alt="calificate">
                    </div>
      
                    <img class="icon-medium pointer" (click)="fav()" *ngIf="!favorite" src="assets/icons/favorite-song.svg" alt="favorite">
                    <img class="icon-medium pointer" (click)="fav()" *ngIf="favorite" src="assets/icons/favorite-song-filled.svg" alt="favorite">
      
                    <img class="icon-medium" src="assets/icons/add-to-playlist.svg" alt="add-to-playlist">

                    <img class="icon-medium" src="assets/icons/share.svg" alt="share">

                                  
      
                </div>
            </div>
            <div class="description">
                <h1 id="title">{{song.nombre}}</h1>
                <h2 id="description">{{song.artista}}</h2>
            
                <div class="row">
                    <h2 id="calificacion">Calificacion:</h2>
                    <div class="star" *ngIf="song.calificacion > 0; else elseBlock2"><img class="icon-medium" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="song.calificacion > 1; else elseBlock2"><img class="icon-medium" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="song.calificacion > 2; else elseBlock2"><img class="icon-medium" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="song.calificacion > 3; else elseBlock2"><img class="icon-medium" src="assets/icons/star-filled.svg">
                    </div>                 
                    <div class="star" *ngIf="song.calificacion > 4; else elseBlock2"><img class="icon-medium" src="assets/icons/star-filled.svg">
                    </div>
                    <ng-template #elseBlock2> <div class="star"><img  class="icon-medium" src="assets/icons/star.svg">     
                    </div>                            
                    </ng-template>                 
                </div>
            </div>
        </div>
      </section>
      
      <div class="comments">
          <h2 id="description" >Opiniones</h2>
          <app-section-calificar></app-section-calificar>
      </div>
</section>

<section [ngClass]="{ 'disabled':calificar }" *ngIf="mobile">
    <div class="flex header">
        <div class="arrow-down">
            <svg class="icon-medium" (click)="goToHome()" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0001 14.6815L21.5916 4.09152L18.4086 0.908517L11.0001 8.31852L3.59155 0.908517L0.408552 4.09152L11.0001 14.6815Z" fill="white"/></svg>
        </div>
        
        <div class="title">
            <h1>{{song.nombre}}</h1>
            <h2>{{song.artista}}</h2>
        </div>
        
        <div class="container-options">
            <img (click)="showOptions()" class="three-dots icon-medium pointer" src="assets/icons/three-dots.svg" alt="see-more">
            <div class="options" #options>
                <span (click)="showCalificar()">Opinar</span>
                <span>Agregar a playlist</span>
                <span>Compartir</span>
            </div>
        </div>
    </div>
    
    <div class="flex-center">
        <img id="song-image" src="{{song.img}}" alt="song-image">
        
        <div class="stars" #divStars>
            <img class="icon-medium" (click)="changeStar($event)" src="assets/icons/star.svg" name="1" alt="star">
            <img class="icon-medium" (click)="changeStar($event)" src="assets/icons/star.svg" name="2" alt="star">
            <img class="icon-medium" (click)="changeStar($event)" src="assets/icons/star.svg" name="3" alt="star">
            <img class="icon-medium" (click)="changeStar($event)" src="assets/icons/star.svg" name="4" alt="star">
            <img class="icon-medium" (click)="changeStar($event)" src="assets/icons/star.svg" name="5" alt="star">
        </div>
    </div>
    
    
    <div class="player-bar-div">
        <div class="player-bar">
            <span class="start">{{song.currentDuration}}</span>
            <span class="end">{{song.duracion}}</span>
            <div class="bar">
                <div class="pointer" #progressSong></div>
            </div>
        </div>
    </div>
    
    <div class="player-icons">
        <img class="icon-medium" *ngIf="!favorite" src="assets/icons/favorite-song.svg" (click)="favorite = !favorite" alt="favorite-song">
        <img class="icon-medium" *ngIf="favorite" src="assets/icons/favorite-song-filled.svg" (click)="favorite = !favorite" alt="favorite-song">
        
        <img class="icon-medium" src="assets/icons/next-song.svg" alt="favorite-song">
        
        <div class="play pointer">
            <img class="icon-medium switch" src="assets/icons/play.svg" (click)="playPause()" [ngClass]="{ 'enabled':play }">
            <img class="icon-medium switch" src="assets/icons/pause.svg" (click)="playPause()" [ngClass]="{ 'enabled':!play }">
        </div>
        
        <img class="rotate icon-medium next" src="assets/icons/next-song.svg">
        
        <div class="volume pointer">
            <img class="icon-medium" (click)="volumeBar = !volumeBar" src="assets/icons/volume.svg">
            
            <div class="volume-bar" [ngClass]="{ 'enabled': volumeBar }">
                <div class="bar"><div class="pointer"></div></div>
                <img src="assets/icons/volume-bar.svg">
            </div>
        </div>
    </div>
</section>
    
<div class="section-calificar" [ngClass]="{ 'active': calificar }">
    <app-section-opiniones-mobile (onClose)="calificar = false"></app-section-opiniones-mobile>
</div>